.column {
    display:grid;
    gap:10px;
   
}
.row {
    display:flex;
    gap:10px;
}

.mat-form-field{
    width: 400px;
   margin: 40px;
}
.action{
    margin: 0px 25px 20px;
    button {
        margin: 10px;
    }
}